@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using System.Text.RegularExpressions;
@{
    var contentPages = Umbraco.Content(Guid.Parse("79f8284c-ebc9-416f-9571-951c93041d24"))
    .ChildrenOfType("contentPage")
    .Where(x => x.IsVisible())
    .Take(3);
}
<div class="mt-4">
    <div class="title-separator row">
        <div class="col">
            <h2>Saiba mais sobre os nossos produtos</h2>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var contentPage in contentPages)
        {
            var imgs = contentPage.Value<IEnumerable<IPublishedContent>>("contentPageImages");
            var hasCategory = contentPage.Value<string[]>("contentPageCategory").Count();
            var cardImg = "";

            <div class="card more-about">
                @if (hasCategory == 0)
                {
                    cardImg = "cardImg";
                }
                <img class="card-img-top @cardImg" src="@imgs.FirstOrDefault().Url" alt="Card Image">

                <div class="card-body">
                    <h5 class="card-title">@contentPage.Value("contentPageTitle")</h5>
                    <p class="card-text">@contentPage.Value("contentPageDescription")</p>
                </div>
                <div class="card-footer">
                    <div><strong><a href="@contentPage.Url">Saber mais <i class="fa-solid fa-arrow-right"></i></a></strong></div>
                </div>
            </div>
        }
    </div>
</div>
