@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Main.cshtml";
}

@if (Model.HasValue("contentPageTitle") && Model.HasValue("contentPageText") && Model.HasValue("contentPageImages"))
{
    <div class="title-separator row">
        <div class="col">
            <h1>@Model.Value("contentPageTitle")</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Model.Value("contentPageText")
        </div>
        <div class="col">
            @{
                var typedMultiMediaPicker = Model.Value<IEnumerable<IPublishedContent>>("contentPageImages");
                foreach (var item in typedMultiMediaPicker)
                {
                    <img class="content-page-img" src="@item.Url()" alt="contentPage Image" />
                }
            }
        </div>
    </div>
}
@if (@Model.HasValue("contentPageGrid"))
{
    @Html.GetGridHtml(Model, "contentPageGrid")
}

@if (Model.Name() == "Sobre nós")
{
    @Html.Action("RenderContactUs", "ContactUs")
}
else
{
    @Html.Partial("Cards/More About Us Card")
}