@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Main.cshtml";
    var contentPages = Umbraco.Content(Guid.Parse("1316857d-7526-44b4-a275-3602d4de0ae5"))
    .ChildrenOfType("contentPage")
    .Where(x => x.IsVisible());

    string active = "active";
    int i = 0;
}
<!-- Carousel -->
<div class="mainCarousel">
    <div id="mainCarouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (var contentPage in contentPages)
            {
                if (contentPage.Value<string[]>("contentPageCategory").Count() > 0)
                {
                    if (i != 0)
                    {
                        <li data-target="#mainCarouselIndicators" data-slide-to="@i"></li>
                    }
                    else
                    {
                        <li data-target="#mainCarouselIndicators" data-slide-to="@i" class="active"></li>
                    }
                    i++;
                }
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var contentPage in contentPages)
            {
                var imgs = contentPage.Value<IEnumerable<IPublishedContent>>("contentPageImages");
                var contentPageTitle = contentPage.Value<string>("contentPageTitle");
                var contentPageDescription = contentPage.Value<string>("contentPageDescription");
                var hasCategory = contentPage.Value<string[]>("contentPageCategory").Count();
                if (hasCategory > 0)
                {
                    <div class="carousel-item @active">
                        <img class="d-block mainCarouselImg" src="@imgs.FirstOrDefault().Url" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="mainCarouselText">
                                <strong>
                                    @contentPageTitle
                                </strong>
                            </h1>
                            <p class="mainCarouselText mainCarouselTextParagraph">
                                <strong>
                                    @contentPageDescription
                                </strong>
                            </p>
                        </div>
                    </div>
                    if (!string.IsNullOrEmpty(active))
                    {
                        active = "";
                    }
                }
            }
        </div>
        <a class="carousel-control-prev" href="#mainCarouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mainCarouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@Html.Partial("Cards/More About Us Card Carousel")